<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.likaladi.goods.mapper.SpecificationMapper">
  <resultMap id="BaseResultMap" type="com.likaladi.goods.entity.Specification">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="group" jdbcType="VARCHAR" property="group" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="options" jdbcType="VARCHAR" property="options" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="is_gloab" jdbcType="BIT" property="isGloab" />
    <result column="is_search" jdbcType="BIT" property="isSearch" />
    <result column="category_id" jdbcType="TINYINT" property="categoryId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>